<div class="input-group mb-3 task-input-group-append">
  {{yield}}
  <div class="input-group-append">
    <div class="add-new-task-btn">
      {{fa-icon "fal fa-chevron-circle-up" click=(action "addTask")}}
    </div>
  </div>
</div>