<div class="input-group mb-3 task-input-group-append">
  {{yield}}
  <div class="input-group-append">
    <div class="add-new-task-btn">
      {{fa-icon "fal fa-chevron-circle-up" click=(action "addTask")}}
    </div>
    {{!-- {{input class="btn btn-outline-secondary add-new-task-button" type="button" value=" → " click=(action "addtask") }} --}}
  </div>
</div>