<div class="row">
  <div class="col">
    <div class="input-group mb-3">
      <div class="custom-file">
        {{input 
          type="file" 
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .csv"
          class="fileInput custom-file-input"
          change=(action "importData")
          id="inputGroupFile02"
        }}
        <label class="custom-file-label" for="inputGroupFile02">
          Choose file
        </label>
      </div>
    </div>
  </div>
</div>
{{#if err.import.fileType}}
  <div class="alert alert-danger" role="alert">
    <span>Import only <strong>CSV</strong> or <strong>XLSX</strong> files!</span>
  </div>
{{/if}}
{{yield}}