@import "bootstrap";


/* main styles */
* {
    font-family: sans-serif;
}

body {
    height: 100vh;
}

input[type="text"], textarea, input[type="button"]{
    outline: none;
    box-shadow:none !important;
}

textarea {
    min-height: 28px !important;
}