<div class="container-fluid">
    <div class="row">
        <div class="col">
            {{task-list list}}
        </div>
        <div class="col-5">
            {{#add-task (action "addtask")}}
                {{input value=task}}
            {{/add-task}}
        </div>
    </div>
</div>
{{outlet}}